body {
    text-align: left;
    box-sizing: border-box;
    background-image: url('stylefundo.png');
    background-repeat: repeat;
    background-size: auto;
    font: 16px Arial, Helvetica, sans-serif;


}

#principal {
    width: 900px;
}

#capa {
    background-size: cover;

}

#post {
    background: #FBF9E6;
    text-align: left;
    padding-left: 10px;

}

#lista {

    background: #F0EBD3;
    display: flex;
    justify-content: left;
    padding: 20px;
    text-transform: uppercase;
    list-style: none;
    font-weight: bold;



}

#lista li {
    margin: 0 5px;
    padding: 3px;

}

#lista .lista-link {
    color: #4b566a;
    text-decoration: dotted;
    transition: .5s;
    font-size: 17px;
    font-weight: 550;
    text-align: left;
}


.imagem {
    background-repeat: repeat;
    
}

h2 {
    font-size: 19px;
    color: #9B9679;
    padding-top:5px;
}

.texto {
    font-weight: 500;
    position: relative;
}

.destaque {
    font-weight: 700;
}

.borda {
    border-style: solid;
    border-width: 10px;
    border-color: #D9D6C0;
}

#rodape {
    text-align: center;
    font-weight: 750;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}