body{
    text-align:  left;
    box-sizing: border-box;

}


.fundo {
background-image: url('fundo.png');
background-repeat: repeat;
background-size: auto;

}
.capa {
    background-size: cover;
    width: 100%;
}
.post {
    background: #FBF9E6;
    width: 888px;
    height: 100%;
    text-align: left;
    padding-left: 10px;

}
.lista {
    width: 840px;
    background: #F0EBD3;
    display: flex; 
    justify-content:left;
    padding: 30px;
    text-transform: uppercase; 
    list-style: none;


}
.lista li {
    margin: 0 5px;
    padding: 3px;
    
}
.lista .lista-link {
    color: #1E1353;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: dotted;
    transition: .5s;
    font-size: 17px;
    font-weight: 550;
    text-align: left;
}


.imagem {
    background-repeat: repeat;
    background-attachment:  scroll;

}
.titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    color: #9B9679;
    padding-top: 5px;
}
.texto {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.destaque {
    font-weight: 700;
}
.borda {
    border-style: solid;
    border-width: 10px;
    border-color: #D9D6C0;
}
.rodape{
    text-align: center;
    font-weight: 750;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: -25%; 
}